div.gallery {
    border: 2px solid rgb(3, 3, 3);
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery.img {
    width: 100%;
    height: auto;
  }

 /* img {
    width: 600px;
    aspect-ratio: auto 600 / 400;
    height: 400px;
}*/
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: content-box;
  }
  
  .responsive {
    padding: 10px 10px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

