

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 0px;
    bottom: 5px;
    left: 10px;
    width: 100%;
    margin: 0%;
    min-height: 100vh;
    }

    .logo {
        position: relative;
        bottom: 30px;
        left: 50px;
      }


    header {
    width: 100%; 
    height: auto;     
    background-color: #011f3d;
    padding: 0em;
    margin-left: 5px
    }

   header div{
    color: #ffffcc;
    font-size: x-large;
    font: Arial, sans-serif;
    text-align: center;
    margin-top: -100px;
    padding-bottom: 60px;
    text-shadow: -3px 5px 3px rgb(255 247 8 / 42%);
     }

  nav ul {
    list-style: none;
    margin: 5px;
    padding: 20px;
    text-align: right;
  }
  
  nav li {
    display: inline-block;

  }
  
  nav a {
    color: #ffffcc;
    text-decoration: none;
    padding: 5px;
  }



 nav a:hover {
    border-bottom: 2px solid #ffffcc;
}


.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */
.hero-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px; /* Adjust margin-top as needed */
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  margin-left: 5px
}

   section{
     margin: 45px
   }

 /* footer all pages styling */ 
footer {
    background-color: #011f3d;
    color: rgb(252, 248, 248);
    padding: 0px;
    text-align: center;
    position: relative;
    bottom: 5px;
    margin-left: 5px;
    width: 100%;
  }
  
    footer p, h4{
    color: #ffffcc;
    text-decoration: none;
    width: 100%; 
    height: auto;
    margin-left: 25px; 
    }
  
  footer p:hover {
    text-decoration: underline;
  }
  

  
  /* Sign up page styling */
.form-section {
    clear: both;
    max-width: 800px;
    width: 100%;
}

.form {
    margin: 150px 10% 0 10%;
    color: #3a3a3a;
    background-color:#fafafa;
    padding: 30px;
}

.form h2 {
    text-align: center;
}

.form h3 {
    margin: 10px 0 5px 0;
}

.text-input {
    margin: 10px 8% 20px 2%;
    background: transparent;
    height: 25px;
    width: 90%;
    border: 2px solid hsl(289, 91%, 38%);
    border-radius: 4px;
}

#message {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 2px solid hsl(289, 91%, 38%);
    border-radius: 4px;
}

#message-box-label {
    font-size: 20px;
}

.form-submit-button {
    background: hsl(289, 91%, 38%);
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Shantell Sans', sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.form-submit-button:hover {
    background: white;
    border: 2px solid hsl(289, 91%, 38%);
    color: hsl(289, 91%, 38%);
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Shantell Sans', sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.contact-container div{
    margin: 100px 100px 100px 100px;
    font-size: x-large;
    font-style: italic;
    }
/** social media icons**/
.social-networks {
  display: flex;
}

.social-networks li {
    list-style-type: none;
    padding: 70px;
}
.social-networks a {
 
  margin-right: 10px; /* Adjust spacing between icons as needed */
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #cb4141;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
